{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <p class="h1">Connexion</p>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">connexion</button>
    {{ form_end(form) }}
{% endblock %}
