{% extends 'base.html.twig' %}

{% block title %}Modification d'une annonce{% endblock %}

{%  block body %}
    <p class="h1">Modifier une annonce</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success float-right">Modifier !</button>

    {{ form_end(form) }}
{% endblock %}